{% set navigation_bar = [['index', 'Accueil'], ['tomates', 'Tomates'], ['aromatiques', 'Aromatiques']] %}
{% set user_bar = [['login', 'Connexion']] %}
{% set active_page = active_page|default('index') %}

<!--<div class="navbar-blur"></div>-->
<div class="navbar-wrapper">
    <div class="container">

        <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path_for('index')}}">Seedly</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        {% for item in navigation_bar %}
                        <li{% if item[0] == active_page %} class="active"{% endif%}>
                        <a href="{{ path_for(item[0]) }}">{{item[1]}}</a></li>
                        {% endfor %}
                        <!--<li class="active"><a href="{{ path_for('index') }}">Accueil</a></li>-->
                        <!--<li><a href="/variete/tomates">Tomates</a></li>-->
                        <!--<li><a href="/variete/aromatiques">Aromatique</a></li>-->
                        <!--<li class="dropdown">-->
                            <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>-->
                            <!--<ul class="dropdown-menu">-->
                                <!--<li><a href="#">Action</a></li>-->
                                <!--<li><a href="#">Another action</a></li>-->
                                <!--<li><a href="#">Something else here</a></li>-->
                                <!--<li role="separator" class="divider"></li>-->
                                <!--<li class="dropdown-header">Nav header</li>-->
                                <!--<li><a href="#">Separated link</a></li>-->
                                <!--<li><a href="#">One more separated link</a></li>-->
                            <!--</ul>-->
                        <!--</li>-->
                    </ul>
                    <form class="navbar-form navbar-left" method="POST" action="{{ path_for('search') }}">
                        <div class="form-group">
                            <input type="text" name="search" class="form-control" placeholder="Search"{%if search %} value="{{ search }}{%endif%}">
                        </div>
                        <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
                    </form>
                    {% if user %}
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="{{ path_for('cart') }}">Mon panier{% if user.getCart.getTotalAmount > 0 %} - {{user.getCart.getTotalAmount}}€{% endif %}</a>
                        </li>
                        <li>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Bonjour {{ user.getFirstname }} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <!--<li><a href="{{ path_for('userIndex', {'id': user.getId}) }}">Mon compte</a></li>-->
                                <li><a href="{{ path_for('userIndex') }}">Mon compte</a></li>
                                <li><a href="{{ path_for('userAddress') }}">Mes adresses</a></li>
                                <!--<li><a href="{{ path_for('userOrder') }}">Mes commandes</a></li>-->
                                <li role="separator" class="divider"></li>
                                <li><a href="{{ path_for('logout') }}">Déconnexion</a></li>
                            </ul>
                        </li>

                    </ul>
                    {% else %}
                    <ul class="nav navbar-nav navbar-right">
                        {% for item in user_bar %}
                        <li{% if item[0] == active_page %} class="active"{% endif%}>
                            <a href="{{ path_for(item[0]) }}">{{item[1]}}</a></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
        </nav>

    </div>
</div>
