body{
    padding-top: 100px !important;
}

body.cart {
    background: url(../media/img/cart.jpg) no-repeat center fixed;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
}

.container.login{
    border: 1px solid grey;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
}

.container.cart{
    border: 1px solid grey;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    margin-bottom: 30px;
}


div.addresses .glyphicon-plus-sign{
    cursor: pointer !important;
}

.address-div{
    background-color: Lavender;
    border-radius:7px;
    padding-top:10px;
    padding-bottom:10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}