{% extends 'layouts/default.html' %}
{% set active_page = "cart" %}
{% block content %}

<div class="container cart">
    {% if cart.getItemCount == 0%}
    <h2>Votre panier est vide</h2>
    {% else %}
        <div class="row">
            <div class="col-sm-12 col-md-10 col-md-offset-1">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Produit</th>
                        <th>Quantité</th>
                        <th class="text-center">Prix</th>
                        <th class="text-center">Total</th>
                        <th> </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cartLine in cart.getCartLines() %}
                    <tr class="item" id="{{ cartLine.sku }}">
                        <td class="col-sm-8 col-md-6">
                            <div class="media">
                                <a class="thumbnail pull-left" href="#"> <img class="media-object" src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png" style="width: 72px; height: 72px;"> </a>
                                <div class="media-body">
                                    <h4 class="media-heading"><a href="#">{{ cartLine.sku }} - {{ cartLine.label }}</a></h4>
                                    <!--<h5 class="media-heading"> by <a href="#">Brand name</a></h5>-->
                                    <!--<span>Status: </span><span class="text-success"><strong>In Stock</strong></span>-->
                                </div>
                            </div></td>
                        <td class="col-sm-1 col-md-1" style="text-align: center">
                            <input type="number" class="form-control item-qty" value="{{ cartLine.qty }}">
                        </td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>{{ cartLine.unitPrice }}€</strong></td>
                        <td class="col-sm-1 col-md-1 text-center"><strong>{{ cartLine.unitPrice * cartLine.qty }}€</strong></td>
                        <td class="col-sm-1 col-md-1">
                            <button sku="{{ cartLine.sku }}" type="button" class="btn btn-danger btn-remove">
                                <span class="glyphicon glyphicon-remove"></span> Supprimer
                            </button></td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Sous-Total</h5></td>
                        <td class="text-right"><h5><strong>{{ cart.getTotalAmount() }}€</strong></h5></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Frais de port</h5></td>
                        <td class="text-right"><h5><strong>1,50€</strong></h5></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h3>Total</h3></td>
                        <td class="text-right"><h3><strong>{{ cart.getTotalAmount() + 1.5 }}€</strong></h3></td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button" class="btn btn-default btn-update-cart">
                            <span class="glyphicon glyphicon-refresh"></span> MAJ Panier
                            </button>
                        </td>
                        <td>   </td>
                        <td>

                        </td>
                        <td>
                            <a href="/" class="btn btn-default">
                                <span class="glyphicon glyphicon-shopping-cart"></span> Continuer les achats
                            </a></td>
                        <td>
                            <div id="paypal-button"></div>
                            <!--<button type="button" class="btn btn-success">-->
                                <!--Paiement <span class="glyphicon glyphicon-play"></span>-->
                            <!--</button></td>-->
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>



    <script type="application/javascript">
        jQuery(document).ready(function(){
            paypal.Button.render({

                env: 'sandbox', // Or 'sandbox',

                client: {
                    sandbox:    'AeMWABPTwynC4l5eXbGjqpU2aIPCK8OJvdPKsyIki36qjWu08RcGLIsrdKLprUoA3WPLjuJ1DIEnU0pd',
                    production: 'AVlXiImurx37zuNjPSRqkjsOgm8eHLxTLWUbqJbHWDdJspjVjBbBmYtL0BFXJn6S_7roaeWTXBrX7oHi'
                },

//            commit: true, // Show a 'Pay Now' button

                payment: function(data, actions) {
                    // Set up the payment here
                    return actions.payment.create({
                        transactions: [
                            {
                                amount: { total: '{{ cart.getTotalAmount() + 1.5 }}', currency: 'EUR' }
                            }
                        ]
                    });
                },

                onAuthorize: function(data, actions) {
                    return actions.payment.execute().then(function() {
                        window.location = "{{path_for('order-success') }}"
//                        window.alert('Paiement effectué');
                    });
                },

                onCancel: function(data, actions) {
                    window.location = "{{path_for('order-fail') }}"
//                    window.alert('Erreur lors du paiement');
                }

            }, '#paypal-button');

            jQuery('.btn-remove').click(function(){
                var sku = jQuery(this).attr('sku');
                var jsonData = { 'sku' : sku, 'action' : 'remove'};

                jQuery.ajax({
                    url: "{{ path_for('cart') }}",
                    method: 'POST',
                    data:jsonData,
                    dataType: "json"
                }).done(function(data) {
                    if (data.code == 200)
                    {
                        jQuery('#'+sku).remove();
                    }
                });
            });

            jQuery('.btn-update-cart').click(function(){
                var $cartLines = [];
                jQuery('.item').each(function(){
                    $cartLines.push({'sku' : jQuery(this).attr('id'), 'qty' : jQuery(this).find('.item-qty').val()});
                })
                var jsonData = { 'cartLines' : $cartLines, 'action' : 'modify'};

                jQuery.ajax({
                    url: "{{ path_for('cart') }}",
                    method: 'POST',
                    data:jsonData,
                    dataType: "json"
                }).done(function(data) {
                    if (data.code == 200)
                    {
                        location.reload();
                    }
                });
            });
        });
    </script>
    {% endif %}
</div>

{% endblock %}